.nav {
	width: 100%;
	padding-bottom: 0.7%;
	padding-top: 0.7%;
	font-weight: 200;
	position: fixed;
	z-index: 33;
	top: 0;
	left: 0;
	background: transparent;
	opacity: 100%;
	text-align: center;
	white-space: nowrap;
}

.header {
	justify-content: center;
}

.button {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: auto;
}

.nav > ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.nav > ul > li {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: auto;
}

.nav > ul :hover {
	opacity: 70%;
	transition: 0.7s;
}
